body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
}

.screen {
  display: none;
  padding: 30px;
  text-align: center;
}

.active {
  display: block;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(45deg,#00f2fe,#4facfe);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(20px);
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
  width: 300px;
}

.timer-bar {
  height: 10px;
  width: 80%;
  background: rgba(255,255,255,0.2);
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}

#timerProgress {
  height: 100%;
  width: 100%;
  background: #00f2fe;
  transition: width 1s linear;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 200px;
  text-align: center;
}

canvas {
  margin-top: 20px;
  background: white;
  border-radius: 10px;
}
